.row
  .small-6.small-centered.columns
    %h3 Sign In
    %hr
    = form_for :session, :url => login_path do |f|
      .row
        .small-12.columns
          = f.label :email
          = f.text_field :email
        .small-12.columns
          = f.label :password
          = f.password_field :password
        .small-12.columns
          = f.submit "Login", :class => 'button expand'
          = f.label :remember_me do
            = f.check_box :remember_me
            %span Remember me on this computer
    = "New user?"
    = link_to 'Sign up!', signup_path
