%table.orders
  %thead
    %tr
      - if current_user.boss?
        %th Client
      %th Order Number
      %th Status
      %th Order Placed At
      %th Name
      %th Note
      %th Email
      %th Phone
      %th Contents
      %th Delivery Address
      %th Last Updated At
      - if current_user.boss?
        %th Actions

  %tbody
    - orders.each do |order|
      %tr
        - if current_user.boss?
          %td= link_to order.user.name, user_path(order.user)
        %td
          - if current_user.boss?
            = link_to order.order_number, order_path(order)
          - else
            order.order_number
        %td= order.status
        %td= order.created_at.strftime('%m/%d/%Y')
        %td= order.customer_name
        %td= order.note
        %td= order.customer_email
        %td= order.customer_phone
        %td= order.order_contents
        %td= "#{order.customer_delivery_address}, #{order.customer_delivery_city}, #{order.customer_delivery_state} #{order.customer_delivery_zipcode}"
        %td= order.updated_at.strftime('%m/%d/%Y')
        - if current_user.boss?
          %td
            - order.status_events.each do |event|
              = form_for order, :url => update_status_order_path(order), :method => :put do |f|
                = f.hidden_field :event, :value => event
                = f.hidden_field :ret_url, :value => request.original_url
                = f.submit "#{event.to_s.humanize.titleize}", :class => 'button tiny'
