.row
  .small-12.columns
    %h3= "Order #{@order.id}"
    %hr
  .small-8.columns
    %ul.pricing-table
      %li.title= "Order #{@order.id}"
      %li.price= @order.status
      %li.description= "Note: #{@order.note}"
      %li.bullet-item= "Address: #{@order.customer_delivery_address}, #{@order.customer_delivery_city}, #{@order.customer_delivery_state} #{@order.customer_delivery_zipcode}"
      %li.bullet-item= "Contact Info: #{@order.customer_name} / #{@order.customer_phone} / #{@order.customer_email}"
      %li.cta-button
        =link_to 'Update Status', '#', :class => 'button'
