.row
  .small-12.columns
    %h3 New Order
  %hr
  .small-8.columns
    = form_for @order, :url => user_orders_path do |f|
      .row
        .small-4.columns
          = f.label :order_number do
            Order Number
            = f.text_field :order_number
        .small-8.columns
          = f.label :customer_name do
            Customer Name
            = f.text_field :customer_name
        .small-12.columns
          = f.label :order_contents do
            Order Contents
            = f.text_field :order_contents
        .small-6.columns
          = f.label :customer_email do
            Customer Email
            = f.text_field :customer_email
        .small-6.columns
          = f.label :customer_phone do
            Customer Phone
            = f.text_field :customer_phone
        .small-12.columns
          = f.label :customer_delivery_address do
            Delivery Address
            = f.text_field :customer_delivery_address
        .small-6.columns
          = f.label :customer_delivery_city do
            Delivery City
            = f.text_field :customer_delivery_city
        .small-3.columns
          = f.label :customer_delivery_state do
            Delivery State
            = f.text_field :customer_delivery_state
        .small-3.columns
          = f.label :customer_delivery_zipcode do
            Delivery Zip
            = f.text_field :customer_delivery_zipcode
        .small-12.columns
          = f.label :note do
            Notes
            = f.text_area :note
          = f.submit 'Create Order', :class => 'button expand'
  .small-4.columns
    = render :partial => 'shared/help_panel'

